git remote add origin /.gradle/
/.idea/
build/
gradle/
in app/
/build/
release/
/app/src/main/java/de/yochyo/yummybooru/TODO.kt
/app/src/main/java/de/yochyo/yummybooru/utils/useless/
/app/src/main/java/de/yochyo/yummybooru/utils/mail/MailData.kt
/local.properties
/.gradle/
