/.idea/
build/
gradle/
in app/
/build/
release/
/app/src/main/java/de/yochyo/yummybooru/TODO.kt
/app/src/main/java/de/yochyo/yummybooru/utils/useless/
/local.properties
/.gradle/
/app/signing.properties
/app/schemas/de.yochyo.yummybooru.database.RoomDb/3.json
