/.gradle/
/.idea/
build/
gradle/
in app/
*.iml
local.properties
gradlew.bat
gradlew
gradle.properties
/build/
libs/
proguard-rules.pro
release/
/app/schemas/de.yochyo.yummybooru.database.Database/
/app/src/main/java/de/yochyo/yummybooru/TODO.kt
/app/src/main/java/de/yochyo/yummybooru/utils/useless/
/settings.gradle
