<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.yochyo.yummybooru">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".downloadservice.App"
            android:allowBackup="true"
            android:icon="@mipmap/ybooru_icon"
            android:label="Yummybooru"
            android:roundIcon="@mipmap/ybooru_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".layout.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".layout.PreviewActivity"
                android:label=""
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.PictureActivity"
                android:label=""
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.SubscriptionActivity"
                android:label="Subs"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".layout.SettingsActivity"
                android:label="Settings">
        </activity>

        <service android:name=".downloadservice.DownloadService"/>
    </application>

</manifest>